.menu li {
  /*  border: 1px solid black; */
  /* display: inline-block; */
  background-color: #26d2fc;
  width: 270px;
  height: 56.74px;
}

  
.menu li a {
 /*  border 4px solid-blue; */
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
/* font-family: Roboto;
color: #000000;
font-size: 14px; Приближение из-за подстановки шрифтов
font-weight: 900;
line-height: 36px; Приближение из-за подстановки шрифтов
text-align: left;
font-family: Roboto;
color: #ffffff;
font-size: 14px; Приближение из-за подстановки шрифтов
font-weight: 900;
line-height: 36px; Приближение из-за подстановки шрифтов
text-align: left;
font-family: Roboto;
color: #333333;
font-size: 14px; Приближение из-за подстановки шрифтов
font-weight: 900;
line-height: 36px; Приближение из-за подстановки шрифтов
text-align: left; */

}

.menu li a:hover {
  background-color: black; 
  color: white;
}
/*CSS для пункта меню MENU*/
/*background-color: #333333;
width: 270px;
height: 66px;
color: white;*/

h4 {
  
  display: block;
  color: white;
  background-color: black;
  width: 270px;
  height: 56.74px;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  display: flex;
  line-height: 55px;
}

h4 {
  background-color: black;
  position: absolute;
  top: -5px;
}
.main_block_products {
  padding: 10px;
  background-color: #f8f8f8;
  width: 870px;
  height: 1790px;
  position: relative;
  /*text-align: left;*/
  border: 3px dashed #645a4e;
}
.block_new_products {
  /*display: flex*/
  padding: 10px;
  border: 3px dashed red;
  background-color: #f8f8f8;
  width: 835px;
  height: 724px;
  position: relative;
  /*text-align: left;*/
  }
.block_top_products {
  top: 10px;
/*  display: flex*/
  padding: 10px;
  border: 3px dashed blue;
  background-color:  #f8f8f8;
  width: 835px;
  height: 400px;
  position: relative;
  /*display:inline;*/
  text-align: right;
  /*color: red;*/
  /*text-align: left;*/
}
.block_sale_products {
  top: 10px;
  /*display: flex*/
  padding: 10px;
  border: 3px dashed green;
  background-color:  #f8f8f8;
  width: 835px;
  height: 380px;
  position: relative;
  /*text-align: right;*/ 
}
 .product_1 {
  position: relative; 
  width: 250px;
  top: 10px; 
  left: 10px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
  /*line-height: 25px;*/
}
/*.flex-container {
  display: flex;
  flex-wrap: wrap;
}*/
 .product_2 {
  position: relative;
  /*float: left;*/ 
  width: 250px;
  left: 288px;
  top: -303px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
 .product_3 {
  position: relative;
  clear: both;
  /*float: left;*/ 
  width: 255px;
  float: left;
  left: 565px;
  top: -615px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}

.product_4 {
  position: relative; 
  width: 250px;
  height: 290px;
  clear: both;
  top: -580px; 
  left: 10px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
.product_5 {
  position: relative;
  /*float: left;*/ 
  width: 250px;
  top: -896px; 
  left: 288px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
 .product_6 {
  position: relative; 
  width: 250px;
  left: 566px;
  top: -1208px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
.product_7 {
  position: relative; 
  width: 250px;
  height: 290px;
  clear: both;
  top: -100px; 
  left: 5px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
.product_8 {
  position: relative; 
  width: 250px;
  /*float: left;*/
  /*height: 250px;*/
  /*height: 290px;*/
  /*clear: both;*/
  top: -415px; 
  left: 280px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
.product_9 {
  position: relative; 
  width: 250px;
  height: 290px;
  clear: both;
  top: -728px; 
  left: 560px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
.product_10 {
  position: relative; 
  width: 250px;
  height: 287px;
  top: -3px; 
  left: 1px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
  clear: both;
}
.product_11 {
  position: relative; 
  width: 250px;
  top: -318px; 
  left: 279px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
.product_12 {
  position: relative; 
  width: 250px;
  top: -630px; 
  left: 559px;
  padding: 10px;
  background: #ffffff; 
  border: 3px dashed #312a22;
}
/*.h2 {
  display:inline;
  text-align: right;
  color: red;
}*/

.empty {
  visibility: hidden;
}
.funride {

}
.buy {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}
.buy:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}
.container {
  background-color:  #abeafa;
  width: 1396px;
  height: 700px;
  top: 10px;
  /*display: flex*/
  padding: 10px;
  border: 3px dashed green;
  position: relative;
}
.banner_jp {
  background-color:  #fff51f;
  /*жёлтый "купи"*/
  width: 124px;
  height: 49px;
}
.aggregate {
  padding: 10px;
  border: 3px dashed green;
  background-color: #f8f8f8;
  width: 1150px;
  height: 1624px;
  position: relative;
}
.logotyp {
  width: 125px; /* Ширина слоя */
  margin: 7px; /* Значение отступов */
  border: 4px solid black; /* Параметры границы */
  padding: 10px; /* Поля вокруг текста */
  display: block;
  position: absolute;
  top: 9px;
  left: 234px;
}
.funride {
  display: block;
  position: absolute;
  right: 170px;
  top:228px;
  font-family: Raleway;
  color:  #fff51f;
  font-size: 48px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 34px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.weelcom {
  display: block;
  position: absolute;
  bottom: 79px;
  left: 165px;
  background-color:  #fff51f;
  width: 270px;
  height: 300px;
}
.banner_welc {
  font-family: Raleway;
  color:  #333333;
  font-size: 30px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 30px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.p {
  /*параграф баннера welcom-надо исключить 
  влияние на друг параграфы  */
  font-family: Raleway;
  color:  #333333;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 14px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}